In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
url = 'https://raw.githubusercontent.com/fernandoawari/calculadora-aluguel-turma-set-20/main/1-web-scraping/dados_aluguel_ml_sao_paulo.csv'

In [3]:
df = pd.read_csv(url, thousands='.')

In [4]:
df.head()

,zona,area_quartos,enderecos_lista,aluguel
0,norte,50 m² construídos2 quartos,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",1150
1,norte,76 m² construídos3 quartos,"Rua Almirante Noronha, Jardim São Paulo, São P...",1480
2,norte,30 m² construídos1 quarto,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",800
3,norte,80 m² construídos3 quartos,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",1180
4,norte,70 m² construídos2 quartos,"Parque Domingos Luís, Jardim São Paulo, São Pa...",1300

In [5]:
df.shape

(1344, 4)

In [6]:
# Vamos listar para ver possíveis problemas (valores ausentes que ocorrem)
list(df['area_quartos'])

['50 m² construídos2 quartos',
 '76 m² construídos3 quartos',
 '30 m² construídos1 quarto',
 '80 m² construídos3 quartos',
 '70 m² construídos2 quartos',
 '45 m² construídos1 quarto',
 '65 m² construídos2 quartos',
 '55 m² construídos2 quartos',
 '49 m² construídos2 quartos',
 '70 m² construídos1 quarto',
 '74 m² construídos3 quartos',
 '50 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '54 m² construídos2 quartos',
 '92 m² construídos3 quartos',
 '74 m² construídos3 quartos',
 '80 m² construídos2 quartos',
 '57 m² construídos2 quartos',
 '89 m² construídos2 quartos',
 '52 m² construídos2 quartos',
 '110 m² construídos3 quartos',
 '56 m² construídos2 quartos',
 '53 m² construídos2 quartos',
 '53 m² construídos2 quartos',
 '60 m² construídos3 quartos',
 '59 m² construídos3 quartos',
 '78 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '330 m² construídos4 quartos',
 '40 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '300 m² construídos3 quartos',
 '194 m² construídos3 quartos',
 '108 m² construídos3 quartos',
 '40 m² construídos1 quarto',
 '41 m² construídos1 quarto',
 '122 m² construídos2 quartos',
 '585 m² construídos3 quartos',
 '70 m² construídos2 quartos',
 '59 m² construídos3 quartos',
 '380 m² construídos3 quartos',
 '590 m² construídos5 quartos',
 '326 m² construídos4 quartos',
 '52 m² construídos2 quartos',
 '72 m² construídos3 quartos',
 '230 m² construídos3 quartos',
 '106 m² construídos3 quartos',
 '85 m² construídos3 quartos',
 '60 m² construídos1 quarto',
 '60 m² construídos2 quartos',
 '68 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '115 m² construídos2 quartos',
 '48 m² construídos2 quartos',
 '70 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '63 m² construídos1 quarto',
 '155 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '42 m² construídos1 quarto',
 '110 m² construídos2 quartos',
 '39 m² construídos1 quarto',
 '82 m² construídos3 quartos',
 '80 m² construídos2 quartos',
 '110 m² construídos4 quartos',
 '45 m² construídos2 quartos',
 '130 m² construídos3 quartos',
 '47 m² construídos2 quartos',
 '350 m² construídos5 quartos',
 '79 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '60 m² construídos3 quartos',
 '275 m² construídos3 quartos',
 '64 m² construídos3 quartos',
 '38 m² construídos1 quarto',
 '60 m² construídos3 quartos',
 '160 m² construídos3 quartos',
 '50 m² construídos1 quarto',
 '140 m² construídos3 quartos',
 '40 m² construídos1 quarto',
 '125 m² construídos3 quartos',
 '160 m² construídos',
 '50 m² construídos1 quarto',
 '45 m² construídos1 quarto',
 '50 m² construídos1 quarto',
 '65 m² construídos2 quartos',
 '72 m² construídos2 quartos',
 '43 m² construídos2 quartos',
 '38 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '60 m² construídos1 quarto',
 '50 m² construídos',
 '120 m² construídos',
 '32 m² construídos1 quarto',
 '70 m² construídos1 quarto',
 '90 m² construídos1 quarto',
 '80 m² construídos2 quartos',
 '50 m² construídos1 quarto',
 '50 m² construídos1 quarto',
 '92 m² construídos2 quartos',
 '56 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '70 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '45 m² construídos2 quartos',
 '28 m² construídos',
 '35 m² construídos1 quarto',
 '10 m² construídos1 quarto',
 '107 m² construídos4 quartos',
 '65 m² construídos2 quartos',
 '47 m² construídos2 quartos',
 '7,800 m² construídos',
 '107 m² construídos3 quartos',
 '132 m² construídos',
 '65 m² construídos2 quartos',
 '45 m² construídos2 quartos',
 '47 m² construídos2 quartos',
 '130 m² construídos',
 '950 m² construídos',
 '15 m² construídos1 quarto',
 '67 m² construídos2 quartos',
 '55 m² construídos2 quartos',
 '62 m² construídos3 quartos',
 '160 m² construídos4 quartos',
 '70 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '48 m² construídos2 quartos',
 '46 m² construídos2 quartos',
 '30 m² construídos',
 '35 m² construídos1 quarto',
 '120 m² construídos2 quartos',
 '110 m² construídos2 quartos',
 '58 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '80 m² construídos3 quartos',
 '80 m² construídos3 quartos',
 '62 m² construídos2 quartos',
 '45 m² construídos2 quartos',
 '30 m² construídos1 quarto',
 '90 m² construídos3 quartos',
 '60 m² construídos1 quarto',
 '90 m² construídos',
 '100 m² construídos3 quartos',
 '321 m² construídos3 quartos',
 '130 m² construídos3 quartos',
 '450 m² construídos2 quartos',
 '65 m² construídos2 quartos',
 '64 m² construídos3 quartos',
 '600 m² construídos',
 '70 m² construídos3 quartos',
 '70 m² construídos1 quarto',
 '224 m² construídos3 quartos',
 '35 m² construídos1 quarto',
 '75 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '50 m² construídos1 quarto',
 '66 m² construídos2 quartos',
 '380 m² construídos4 quartos',
 '100 m² construídos3 quartos',
 '100 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '90 m² construídos3 quartos',
 '120 m² construídos2 quartos',
 '30 m² construídos1 quarto',
 '55 m² construídos2 quartos',
 '82 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '120 m² construídos4 quartos',
 '162 m² construídos4 quartos',
 '80 m² construídos4 quartos',
 '62 m² construídos2 quartos',
 '53 m² construídos2 quartos',
 '67 m² construídos2 quartos',
 '90 m² construídos3 quartos',
 '120 m² construídos2 quartos',
 '82 m² construídos3 quartos',
 '60 m² construídos2 quartos',
 '90 m² construídos3 quartos',
 '577 m² construídos5 quartos',
 '229 m² construídos4 quartos',
 '300 m² construídos3 quartos',
 '40 m² construídos1 quarto',
 '90 m² construídos2 quartos',
 '100 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '60 m² construídos1 quarto',
 '85 m² construídos2 quartos',
 '48 m² construídos2 quartos',
 '90 m² construídos2 quartos',
 '250 m² construídos3 quartos',
 '110 m² construídos3 quartos',
 '49 m² construídos2 quartos',
 '110 m² construídos2 quartos',
 '78 m² construídos2 quartos',
 '55 m² construídos2 quartos',
 '47 m² construídos1 quarto',
 '42 m² construídos2 quartos',
 '57 m² construídos1 quarto',
 '23 m² construídos1 quarto',
 '70 m² construídos2 quartos',
 '34 m² construídos1 quarto',
 '63 m² construídos1 quarto',
 '150 m² construídos3 quartos',
 '80 m² construídos3 quartos',
 '68 m² construídos2 quartos',
 '240 m² construídos3 quartos',
 '119 m² construídos3 quartos',
 '78 m² construídos3 quartos',
 '48 m² construídos2 quartos',
 '90 m² construídos1 quarto',
 '67 m² construídos3 quartos',
 '90 m² construídos3 quartos',
 '58 m² construídos2 quartos',
 '400 m² construídos3 quartos',
 '45 m² construídos2 quartos',
 '64 m² construídos3 quartos',
 '29 m² construídos1 quarto',
 '31 m² construídos1 quarto',
 '250 m² construídos3 quartos',
 '54 m² construídos2 quartos',
 '59 m² construídos1 quarto',
 '90 m² construídos3 quartos',
 '284 m² construídos4 quartos',
 '50 m² construídos2 quartos',
 '275 m² construídos5 quartos',
 '100 m² construídos3 quartos',
 '67 m² construídos2 quartos',
 '125 m² construídos2 quartos',
 '92 m² construídos2 quartos',
 '52 m² construídos2 quartos',
 '63 m² construídos3 quartos',
 '59 m² construídos2 quartos',
 '300 m² construídos3 quartos',
 '55 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '45 m² construídos2 quartos',
 '75 m² construídos2 quartos',
 '90 m² construídos2 quartos',
 '51 m² construídos2 quartos',
 '35 m² construídos1 quarto',
 '90 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '78 m² construídos2 quartos',
 '56 m² construídos2 quartos',
 '49 m² construídos2 quartos',
 '240 m² construídos4 quartos',
 '40 m² construídos1 quarto',
 '58 m² construídos2 quartos',
 '75 m² construídos3 quartos',
 '80 m² construídos3 quartos',
 '400 m² construídos5 quartos',
 '250 m² construídos3 quartos',
 '350 m² construídos4 quartos',
 '80 m² construídos2 quartos',
 '300 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '150 m² construídos4 quartos',
 '300 m² construídos3 quartos',
 '70 m² construídos3 quartos',
 '1,600 m² construídos',
 '50 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '102 m² construídos3 quartos',
 '55 m² construídos2 quartos',
 '51 m² construídos2 quartos',
 '180 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '52 m² construídos2 quartos',
 '157 m² construídos3 quartos',
 '180 m² construídos3 quartos',
 '195 m² construídos4 quartos',
 '15 m² construídos1 quarto',
 '36 m² construídos2 quartos',
 '43 m² construídos2 quartos',
 '15 m² construídos1 quarto',
 '100 m² construídos2 quartos',
 '100 m² construídos1 quarto',
 '300 m² construídos4 quartos',
 '55 m² construídos2 quartos',
 '300 m² construídos4 quartos',
 '60 m² construídos1 quarto',
 '115 m² construídos3 quartos',
 '92 m² construídos2 quartos',
 '96 m² construídos3 quartos',
 '141 m² construídos3 quartos',
 '146 m² construídos3 quartos',
 '47 m² construídos2 quartos',
 '72 m² construídos2 quartos',
 '67 m² construídos2 quartos',
 '52 m² construídos2 quartos',
 '45 m² construídos2 quartos',
 '64 m² construídos2 quartos',
 '55 m² construídos2 quartos',
 '500 m² construídos4 quartos',
 '40 m² construídos1 quarto',
 '125 m² construídos3 quartos',
 '32 m² construídos1 quarto',
 '40 m² construídos1 quarto',
 '40 m² construídos1 quarto',
 '78 m² construídos2 quartos',
 '74 m² construídos2 quartos',
 '37 m² construídos1 quarto',
 '54 m² construídos2 quartos',
 '54 m² construídos2 quartos',
 '45 m² construídos1 quarto',
 '179 m² construídos3 quartos',
 '65 m² construídos2 quartos',
 '59 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '51 m² construídos2 quartos',
 '55 m² construídos2 quartos',
 '58 m² construídos2 quartos',
 '78 m² construídos2 quartos',
 '160 m² construídos2 quartos',
 '46 m² construídos1 quarto',
 '684 m² construídos',
 '46 m² construídos1 quarto',
 '46 m² construídos1 quarto',
 '46 m² construídos1 quarto',
 '46 m² construídos1 quarto',
 '90 m² construídos2 quartos',
 '65 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '46 m² construídos1 quarto',
 '48 m² construídos1 quarto',
 '40 m² construídos1 quarto',
 '47 m² construídos2 quartos',
 '70 m² construídos1 quarto',
 '150 m² construídos',
 '95 m² construídos3 quartos',
 '50 m² construídos1 quarto',
 '60 m² construídos1 quarto',
 '60 m² construídos2 quartos',
 '73 m² construídos2 quartos',
 '68 m² construídos3 quartos',
 '110 m² construídos3 quartos',
 '65 m² construídos2 quartos',
 '80 m² construídos3 quartos',
 '80 m² construídos2 quartos',
 '68 m² construídos2 quartos',
 '250 m² construídos3 quartos',
 '61 m² construídos1 quarto',
 '260 m² construídos4 quartos',
 '95 m² construídos2 quartos',
 '55 m² construídos2 quartos',
 '45 m² construídos1 quarto',
 '45 m² construídos1 quarto',
 '90 m² construídos',
 '40 m² construídos1 quarto',
 '45 m² construídos1 quarto',
 '33 m² construídos1 quarto',
 '77 m² construídos',
 '62 m² construídos2 quartos',
 '55 m² construídos1 quarto',
 '110 m² construídos3 quartos',
 '74 m² construídos3 quartos',
 '78 m² construídos3 quartos',
 '50 m² construídos1 quarto',
 '186 m² construídos3 quartos',
 '45 m² construídos1 quarto',
 '40 m² construídos1 quarto',
 '59 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '34 m² construídos1 quarto',
 '80 m² construídos3 quartos',
 '16 m² construídos1 quarto',
 '96 m² construídos3 quartos',
 '100 m² construídos3 quartos',
 '64 m² construídos2 quartos',
 '86 m² construídos3 quartos',
 '43 m² construídos1 quarto',
 '90 m² construídos2 quartos',
 '128 m² construídos3 quartos',
 '70 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '45 m² construídos2 quartos',
 '38 m² construídos1 quarto',
 '63 m² construídos2 quartos',
 '67 m² construídos3 quartos',
 '39 m² construídos1 quarto',
 '52 m² construídos2 quartos',
 '69 m² construídos3 quartos',
 '68 m² construídos2 quartos',
 '185 m² construídos3 quartos',
 '30 m² construídos1 quarto',
 '72 m² construídos2 quartos',
 '57 m² construídos2 quartos',
 '26 m² construídos1 quarto',
 '90 m² construídos2 quartos',
 '65 m² construídos2 quartos',
 '37 m² construídos1 quarto',
 '37 m² construídos1 quarto',
 '320 m² construídos2 quartos',
 '64 m² construídos3 quartos',
 '300 m² construídos5 quartos',
 '55 m² construídos1 quarto',
 '150 m² construídos4 quartos',
 '30 m² construídos1 quarto',
 '124 m² construídos2 quartos',
 '75 m² construídos2 quartos',
 '83 m² construídos2 quartos',
 '25 m² construídos1 quarto',
 '114 m² construídos3 quartos',
 '115 m² construídos2 quartos',
 '69 m² construídos2 quartos',
 '94 m² construídos2 quartos',
 '49 m² construídos2 quartos',
 '90 m² construídos2 quartos',
 '70 m² construídos2 quartos',
 '109 m² construídos2 quartos',
 '138 m² construídos3 quartos',
 '81 m² construídos2 quartos',
 '196 m² construídos3 quartos',
 '65 m² construídos2 quartos',
 '52 m² construídos2 quartos',
 '50 m² construídos1 quarto',
 '52 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '380 m² construídos3 quartos',
 '183 m² construídos3 quartos',
 '80 m² construídos3 quartos',
 '170 m² construídos2 quartos',
 '137 m² construídos3 quartos',
 '45 m² construídos1 quarto',
 '57 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '45 m² construídos1 quarto',
 '69 m² construídos2 quartos',
 '69 m² construídos1 quarto',
 '380 m² construídos4 quartos',
 '50 m² construídos1 quarto',
 '185 m² construídos2 quartos',
 '72 m² construídos2 quartos',
 '301 m² construídos4 quartos',
 '90 m² construídos3 quartos',
 '222 m² construídos3 quartos',
 '95 m² construídos3 quartos',
 '60 m² construídos2 quartos',
 '44 m² construídos1 quarto',
 '224 m² construídos3 quartos',
 '245 m² construídos4 quartos',
 '55 m² construídos2 quartos',
 '50 m² construídos2 quartos',
 '38 m² construídos1 quarto',
 '137 m² construídos2 quartos',
 '44 m² construídos1 quarto',
 '51 m² construídos2 quartos',
 '71 m² construídos2 quartos',
 '500 m² construídos4 quartos',
 '190 m² construídos4 quartos',
 '83 m² construídos2 quartos',
 '775 m² construídos3 quartos',
 '66 m² construídos3 quartos',
 '188 m² construídos3 quartos',
 '61 m² construídos3 quartos',
 '116 m² construídos2 quartos',
 '57 m² construídos2 quartos',
 '86 m² construídos3 quartos',
 '69 m² construídos2 quartos',
 '70 m² construídos3 quartos',
 '156 m² construídos3 quartos',
 '162 m² construídos3 quartos',
 '94 m² construídos3 quartos',
 '70 m² construídos3 quartos',
 '110 m² construídos3 quartos',
 '54 m² construídos2 quartos',
 '42 m² construídos1 quarto',
 '38 m² construídos1 quarto',
 '48 m² construídos1 quarto',
 '69 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '66 m² construídos2 quartos',
 '54 m² construídos1 quarto',
 '65 m² construídos2 quartos',
 '98 m² construídos2 quartos',
 '70 m² construídos1 quarto',
 '70 m² construídos1 quarto',
 '140 m² construídos2 quartos',
 '63 m² construídos2 quartos',
 '30 m² construídos1 quarto',
 '60 m² construídos2 quartos',
 '52 m² construídos1 quarto',
 '44 m² construídos1 quarto',
 '50 m² construídos2 quartos',
 '90 m² construídos2 quartos',
 '60 m² construídos2 quartos',
 '55 m² construídos1 quarto',
 '76 m² construídos2 quartos',
 '21 m² construídos1 quarto',
 '90 m² construídos2 quartos',
 '49 m² construídos1 quarto',
 '45 m² construídos1 quarto',
 '41 m² construídos2 quartos',
 '40 m² construídos1 quarto',
 '86 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '130 m² construídos2 quartos',
 '70 m² construídos2 quartos',
 '45 m² construídos1 quarto',
 '90 m² construídos2 quartos',
 '46 m² construídos1 quarto',
 '60 m² construídos2 quartos',
 '100 m² construídos2 quartos',
 '78 m² construídos3 quartos',
 '72 m² construídos2 quartos',
 '108 m² construídos3 quartos',
 '130 m² construídos3 quartos',
 '170 m² construídos3 quartos',
 '233 m² construídos3 quartos',
 '95 m² construídos1 quarto',
 '55 m² construídos2 quartos',
 '51 m² construídos2 quartos',
 '57 m² construídos2 quartos',
 '101 m² construídos2 quartos',
 '51 m² construídos1 quarto',
 '55 m² construídos2 quartos',
 '70 m² construídos2 quartos',
 '75 m² construídos1 quarto',
 '73 m² construídos2 quartos',
 '43 m² construídos1 quarto',
 '55 m² construídos1 quarto',
 '65 m² construídos1 quarto',
 '47 m² construídos2 quartos',
 '80 m² construídos1 quarto',
 '65 m² construídos2 quartos',
 '74 m² construídos2 quartos',
 '155 m² construídos3 quartos',
 '70 m² construídos2 quartos',
 '47 m² construídos1 quarto',
 '65 m² construídos2 quartos',
 '35 m² construídos1 quarto',
 '60 m² construídos1 quarto',
 '16 m² construídos1 quarto',
 '180 m² construídos3 quartos',
 '115 m² construídos3 quartos',
 '42 m² construídos1 quarto',
 '128 m² construídos3 quartos',
 '50 m² construídos1 quarto',
 '110 m² construídos3 quartos',
 '70 m² construídos2 quartos',
 '35 m² construídos1 quarto',
 '110 m² construídos2 quartos',
 '60 m² construídos3 quartos',
 '96 m² construídos2 quartos',
 '58 m² construídos1 quarto',
 '105 m² construídos2 quartos',
 '45 m² construídos1 quarto',
 '39 m² construídos1 quarto',
 '108 m² construídos3 quartos',
 '50 m² construídos1 quarto',
 '62 m² construídos2 quartos',
 '90 m² construídos2 quartos',
 '33 m² construídos1 quarto',
 '140 m² construídos3 quartos',
 '130 m² construídos3 quartos',
 '94 m² construídos3 quartos',
 '67 m² construídos2 quartos',
 '68 m² construídos2 quartos',
 '89 m² construídos3 quartos',
 '120 m² construídos2 quartos',
 '70 m² construídos2 quartos',
 '260 m² construídos4 quartos',
 '90 m² construídos2 quartos',
 '50 m² construídos1 quarto',
 '59 m² construídos1 quarto',
 '59 m² construídos2 quartos',
 '180 m² construídos4 quartos',
 '250 m² construídos3 quartos',
 '43 m² construídos1 quarto',
 '76 m² construídos3 quartos',
 '140 m² construídos2 quartos',
 '54 m² construídos2 quartos',
 '95 m² construídos2 quartos',
 '35 m² construídos1 quarto',
 '100 m² construídos3 quartos',
 '130 m² construídos2 quartos',
 '65 m² construídos1 quarto',
 '129 m² construídos2 quartos',
 '200 m² construídos4 quartos',
 '102 m² construídos3 quartos',
 '74 m² construídos1 quarto',
 '90 m² construídos3 quartos',
 '150 m² construídos3 quartos',
 '45 m² construídos1 quarto',
 '179 m² construídos3 quartos',
 '36 m² construídos1 quarto',
 '80 m² construídos2 quartos',
 '65 m² construídos1 quarto',
 '65 m² construídos2 quartos',
 '65 m² construídos2 quartos',
 '186 m² construídos3 quartos',
 '80 m² construídos3 quartos',
 '45 m² construídos1 quarto',
 '70 m² construídos2 quartos',
 '92 m² construídos3 quartos',
 '140 m² construídos3 quartos',
 '80 m² construídos3 quartos',
 '150 m² construídos3 quartos',
 '63 m² construídos2 quartos',
 '78 m² construídos3 quartos',
 '62 m² construídos3 quartos',
 '64 m² construídos3 quartos',
 '50 m² construídos1 quarto',
 '200 m² construídos3 quartos',
 '60 m² construídos2 quartos',
 '72 m² construídos2 quartos',
 '105 m² construídos1 quarto',
 '36 m² construídos1 quarto',
 '145 m² construídos3 quartos',
 '67 m² construídos3 quartos',
 '261 m² construídos5 quartos',
 '110 m² construídos3 quartos',
 '140 m² construídos3 quartos',
 '47 m² construídos2 quartos',
 '36 m² construídos1 quarto',
 '104 m² construídos3 quartos',
 '150 m² construídos2 quartos',
 '120 m² construídos2 quartos',
 '103 m² construídos3 quartos',
 '80 m² construídos3 quartos',
 '55 m² construídos1 quarto',
 '172 m² construídos3 quartos',
 '57 m² construídos1 quarto',
 '64 m² construídos2 quartos',
 '35 m² construídos1 quarto',
 '67 m² construídos3 quartos',
 '94 m² construídos3 quartos',
 '130 m² construídos2 quartos',
 '290 m² construídos5 quartos',
 '170 m² construídos4 quartos',
 '140 m² construídos2 quartos',
 '30 m² construídos1 quarto',
 '108 m² construídos3 quartos',
 '37 m² construídos2 quartos',
 '350 m² construídos3 quartos',
 '110 m² construídos3 quartos',
 '150 m² construídos2 quartos',
 '80 m² construídos2 quartos',
 '468 m² construídos4 quartos',
 '69 m² construídos2 quartos',
 '100 m² construídos3 quartos',
 '50 m² construídos1 quarto',
 '47 m² construídos2 quartos',

In [7]:
# Criei esse subset com algumas das situacoes que encontramos
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos',
                       ]

In [8]:
# Vamos agora testar criar uma funcao para extracao da área. Primeiramente testando passo a passo
entrada = '1,360 m² totais'

In [9]:
entrada.split(' m²')[0]

'1,360'

In [10]:
area = entrada.split(' m²')[0]

In [11]:
area.replace(',', '')

'1360'

In [12]:
if ' m²' in entrada:
  area = entrada.split(' m²')[0]
  area = area.replace(',', '')
else:
  area = np.nan

In [13]:
def extrair_area(entrada):
  """Criar função que possua como entrada um texto e retorne a área contida no
  mesmo. Retornar np.nan se for ausentes. Alguns exemplos:
      >>> extrair_area('79 m² construídos1 quarto')
      >>> 79
      >>> extrair_area('280 m² construídos')
      >>> 280
      >>> extrair_area('2,600 m² construídos'
      >>> 2600
      >>> extrair_area('2 quartos')
      >>> np.nan
      """
  if ' m²' in entrada:
    area = entrada.split(' m²')[0]
    area = area.replace(',', '')
  else:
    area = np.nan
  return area

In [14]:
for aq in area_quartos_subset:
  print(extrair_area(aq))

1360
nan
53
280
2600

In [15]:
# Aplicando a funcao para a coluna area_quartos
df['area']=df['area_quartos'].apply(extrair_area).astype(float)

In [16]:
df.head()

,zona,area_quartos,enderecos_lista,aluguel,area
0,norte,50 m² construídos2 quartos,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",1150,50.0
1,norte,76 m² construídos3 quartos,"Rua Almirante Noronha, Jardim São Paulo, São P...",1480,76.0
2,norte,30 m² construídos1 quarto,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",800,30.0
3,norte,80 m² construídos3 quartos,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",1180,80.0
4,norte,70 m² construídos2 quartos,"Parque Domingos Luís, Jardim São Paulo, São Pa...",1300,70.0

In [17]:
# Repetindo o mesmo, só que agora para extração do número de quartos
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '1 quarto',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos',
                       ]

In [18]:
entrada='2 quartos'

In [19]:
# Neste caso vamos precisar usar regex
re.findall('(.?) quarto', entrada)[0]

'2'

In [20]:
def extrair_quartos(entrada):
  """Criar função que possua como entrada um texto e retorne uma tupla com a 
  área e o quarto. Retornar np.nan se um dos dois for ausentes. Alguns exemplos:
      >>> extrair_quarto('79 m² construídos1 quarto')
      >>> 1
      >>> extrair_quarto('280 m² construídos')
      >>> np.nan
      >>> extrair_quarto('2,600 m² construídos'
      >>> np.nan
      >>> extrair_quarto('2 quartos')
      >>> 2"""
  if 'quarto' in entrada:
    n_quartos = re.findall('(\d*) quarto', entrada)[0]
  else:
    n_quartos = np.nan
  return n_quartos

In [21]:
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '10 quarto',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos',
                       ]

In [22]:
for aq in area_quartos_subset:
  print(extrair_quartos(aq))

nan
2
10
2
nan
nan

In [23]:
df['quartos'] = df['area_quartos'].apply(extrair_quartos).astype(float)

In [24]:
# removendo a coluna area_quartos
df = df.drop('area_quartos', axis=1)

In [25]:
# reposicionando as colunas
cols = ['zona', 'enderecos_lista', 'area', 'quartos', 'aluguel']

In [26]:
df=df[cols]

In [27]:
df.head()

,zona,enderecos_lista,area,quartos,aluguel
0,norte,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",50.0,2.0,1150
1,norte,"Rua Almirante Noronha, Jardim São Paulo, São P...",76.0,3.0,1480
2,norte,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",30.0,1.0,800
3,norte,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",80.0,3.0,1180
4,norte,"Parque Domingos Luís, Jardim São Paulo, São Pa...",70.0,2.0,1300

In [28]:
# antes de movermos para preprocessamentos voltados à valores ausentes, vamos 
# salvar os dados do jeito como estão
df.to_csv('dados_aluguel_ml_sao_paulo_preprocessado.csv', index=False)

In [29]:
# Index=false usado anteriormente para que o csv seja carregado sem necessitar argumentos adicionais
pd.read_csv('dados_aluguel_ml_sao_paulo_preprocessado.csv')

,zona,enderecos_lista,area,quartos,aluguel
0,norte,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",50.0,2.0,1150
1,norte,"Rua Almirante Noronha, Jardim São Paulo, São P...",76.0,3.0,1480
2,norte,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",30.0,1.0,800
3,norte,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",80.0,3.0,1180
4,norte,"Parque Domingos Luís, Jardim São Paulo, São Pa...",70.0,2.0,1300
...,...,...,...,...,...
1339,oeste,"Rua Piauí, Higienópolis, São Paulo Zona Oeste,...",480.0,4.0,13280
1340,oeste,"Rua Doutor Aires Martins Torres, Vila São Fran...",620.0,4.0,15000
1341,oeste,"Rua Doutor Martins De Oliveira, Jardim Londrin...",64.0,3.0,2390
1342,oeste,"Rua Natingui, Vila Madalena, São Paulo Zona Oe...",44.0,1.0,3600
1343,oeste,"Rua Amaro Cavalheiro, Pinheiros, São Paulo Zon...",150.0,3.0,4000

**Lidando com Dados Ausentes**

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   zona             1344 non-null   object
 1   enderecos_lista  1344 non-null   object
 2   area             1341 non-null   float64
 3   quartos          1273 non-null   float64
 4   aluguel          1344 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 52.6+ KB

In [31]:
# uma opção é remover todos os valores ausentes
df.dropna()

,zona,enderecos_lista,area,quartos,aluguel
0,norte,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",50.0,2.0,1150
1,norte,"Rua Almirante Noronha, Jardim São Paulo, São P...",76.0,3.0,1480
2,norte,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",30.0,1.0,800
3,norte,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",80.0,3.0,1180
4,norte,"Parque Domingos Luís, Jardim São Paulo, São Pa...",70.0,2.0,1300
...,...,...,...,...,...
1339,oeste,"Rua Piauí, Higienópolis, São Paulo Zona Oeste,...",480.0,4.0,13280
1340,oeste,"Rua Doutor Aires Martins Torres, Vila São Fran...",620.0,4.0,15000
1341,oeste,"Rua Doutor Martins De Oliveira, Jardim Londrin...",64.0,3.0,2390
1342,oeste,"Rua Natingui, Vila Madalena, São Paulo Zona Oe...",44.0,1.0,3600
1343,oeste,"Rua Amaro Cavalheiro, Pinheiros, São Paulo Zon...",150.0,3.0,4000

In [32]:
# Ou preencher com um valor constante
df.fillna(-1)

,zona,enderecos_lista,area,quartos,aluguel
0,norte,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",50.0,2.0,1150
1,norte,"Rua Almirante Noronha, Jardim São Paulo, São P...",76.0,3.0,1480
2,norte,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",30.0,1.0,800
3,norte,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",80.0,3.0,1180
4,norte,"Parque Domingos Luís, Jardim São Paulo, São Pa...",70.0,2.0,1300
...,...,...,...,...,...
1339,oeste,"Rua Piauí, Higienópolis, São Paulo Zona Oeste,...",480.0,4.0,13280
1340,oeste,"Rua Doutor Aires Martins Torres, Vila São Fran...",620.0,4.0,15000
1341,oeste,"Rua Doutor Martins De Oliveira, Jardim Londrin...",64.0,3.0,2390
1342,oeste,"Rua Natingui, Vila Madalena, São Paulo Zona Oe...",44.0,1.0,3600
1343,oeste,"Rua Amaro Cavalheiro, Pinheiros, São Paulo Zon...",150.0,3.0,4000

In [33]:
# Ou ainda preencher com média ou mediana
df.describe()

              area      quartos        aluguel
count  1341.000000  1273.000000    1344.000000
mean    112.697987     2.106834    4396.404762
std     259.503149     0.882869   29225.842756
min       1.000000     1.000000     299.000000
25%      48.000000     1.000000    1500.000000
50%      67.000000     2.000000    2200.000000
75%     106.000000     3.000000    3577.500000
max    7800.000000     5.000000  870000.000000

In [34]:
df.median()

area         67.0
quartos       2.0
aluguel    2200.0
dtype: float64

In [35]:
df.fillna(df.median())

,zona,enderecos_lista,area,quartos,aluguel
0,norte,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",50.0,2.0,1150
1,norte,"Rua Almirante Noronha, Jardim São Paulo, São P...",76.0,3.0,1480
2,norte,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",30.0,1.0,800
3,norte,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",80.0,3.0,1180
4,norte,"Parque Domingos Luís, Jardim São Paulo, São Pa...",70.0,2.0,1300
...,...,...,...,...,...
1339,oeste,"Rua Piauí, Higienópolis, São Paulo Zona Oeste,...",480.0,4.0,13280
1340,oeste,"Rua Doutor Aires Martins Torres, Vila São Fran...",620.0,4.0,15000
1341,oeste,"Rua Doutor Martins De Oliveira, Jardim Londrin...",64.0,3.0,2390
1342,oeste,"Rua Natingui, Vila Madalena, São Paulo Zona Oe...",44.0,1.0,3600
1343,oeste,"Rua Amaro Cavalheiro, Pinheiros, São Paulo Zon...",150.0,3.0,4000

In [36]:
df.to_csv('dados_aluguel_ml_sao_paulo_preprocessado.csv')

In [37]:
df

,zona,enderecos_lista,area,quartos,aluguel
0,norte,"Praça Rafael Mendes De Carvalho, Jardim Paraís...",50.0,2.0,1150
1,norte,"Rua Almirante Noronha, Jardim São Paulo, São P...",76.0,3.0,1480
2,norte,"Rua Cássio De Almeida, Vila Guilherme, São Pau...",30.0,1.0,800
3,norte,"Rua Cabo José Da Silva, Parque Novo Mundo, São...",80.0,3.0,1180
4,norte,"Parque Domingos Luís, Jardim São Paulo, São Pa...",70.0,2.0,1300
...,...,...,...,...,...
1339,oeste,"Rua Piauí, Higienópolis, São Paulo Zona Oeste,...",480.0,4.0,13280
1340,oeste,"Rua Doutor Aires Martins Torres, Vila São Fran...",620.0,4.0,15000
1341,oeste,"Rua Doutor Martins De Oliveira, Jardim Londrin...",64.0,3.0,2390
1342,oeste,"Rua Natingui, Vila Madalena, São Paulo Zona Oe...",44.0,1.0,3600
1343,oeste,"Rua Amaro Cavalheiro, Pinheiros, São Paulo Zon...",150.0,3.0,4000